:root {
  --color: white;
}

body {
  margin: 0;
  padding: 0;
}

#container {
  display: grid;
  grid-template-rows: 0.2fr 0.2fr 1fr;
  height: 100vh;
}

#navBar {
  background-color: green;
  display: grid;
  grid-template-columns: 2fr 0.5fr 0.5fr 0.5fr;
  align-content: center;
  justify-items: center;
}

#filters {
  background-color: red;
}

#beerBrowse {
  background-color: yellow;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding-bottom: 10px;
  overflow-y: scroll;
  width: 100vw;
}

#titleSection {
  margin-right: 500px;
  display: flex;
  width: 30vw;
}

.beerContent {
  height: 300px;
  width: 350px;
  margin: 15px 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "name name ibu abv"
    "tagLine tagLine tagLine tagLine"
    "favorite favorite learnMore learnMore";
  color: black;
  font-size: 0.9em;
  opacity: 0.95;
  font-weight: bold;
}

button {
  padding: 0;
  border: 0;
  font-weight: bolder;
}

.name {
  grid-area: name;
  background-color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ibu {
  grid-area: ibu;
  background-color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.abv {
  grid-area: abv;
  background-color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tagLine {
  grid-area: tagLine;
  background-color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite {
  grid-area: favorite;
  background-color: var(--color);
  color: red;
  transition: all 0.35s ease-in-out;
}

.favorite:hover {
  background-color: rgb(201, 201, 201);
  transition: all 0.35s ease-in-out;
}

.learnMore {
  grid-area: learnMore;
  background-color: var(--color);
  color: red;
  transition: all 0.35s ease-in-out;
}

.learnMore:hover {
  background-color: rgb(201, 201, 201);
  transition: all 0.35s ease-in-out;
}

#title {
  color: black;
  font-size: 2.5vw;
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin-left: 50px;
  font-weight: bold;
  font-family: Georgia;
  -webkit-text-stroke: 0.7px white;
}

#FIS {
  width: 200px;
  height: auto;
}

#browse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  transition: all 0.35s ease-in-out;
}

#browse:hover {
  background-color: lightgreen;
  cursor: url(https://cur.cursors-4u.net/food/foo-2/foo108.cur), auto !important;
  transition: all 0.35s ease-in-out;
}

#settings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  transition: all 0.35s ease-in-out;
}

#settings:hover {
  background-color: lightgreen;
  cursor: url(https://cur.cursors-4u.net/food/foo-2/foo108.cur), auto !important;
  transition: all 0.35s ease-in-out;
}

#favorites {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  transition: all 0.35s ease-in-out;
}

#favorites:hover {
  background-color: lightgreen;
  cursor: url(https://cur.cursors-4u.net/food/foo-2/foo108.cur), auto !important;
  transition: all 0.35s ease-in-out;
}

#learnMore {
  display: none;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100vw;
  grid-template-areas:
    "name name favorites image"
    "learnMoreIbu learnMoreAbv firstbrewed image"
    "foodpairing foodpairing foodpairing image"
    "learnMoreDescription learnMoreDescription learnMoreDescription back";
  background-color: yellow;
}

#learnMoreName {
  grid-area: name;
}

#learnMoreIbu {
  grid-area: learnMoreIbu;
}

#learnMoreAbv {
  grid-area: learnMoreAbv;
}

#learnMoreImage {
  grid-area: image;
}

#learnMoreDescription {
  grid-area: learnMoreDescription;
}

#learnMoreFoodPairings {
  grid-area: foodpairing;
}

#learnMoreFirstBrewed {
  grid-area: firstbrewed;
}

#learnMoreFavorites{
  grid-area: favorites;
}

#backButton {
  grid-area: back;
}
