:root {
  --content-background: white;
  --content-text: black;
  --button: red;
  --theme-background: rgb(26, 179, 26);
  --learn-more-hover: rgb(201, 201, 201);
  --title-text: white;
  --opacity: 0.9;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(https://envato-shoebox-0.imgix.net/f309/08f0-c751-4da9-ba9f-62c7a94fd21f/_K4A7247.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=700&s=371111811ab3e03a5f6dbedd0969929f);
  background-size: cover;
  background-position: 100px;
}

#container {
  display: grid;
  grid-template-rows: 0.1fr 0.1fr 0.1fr 1fr;
  height: 100vh;
}

#navBar {
  background-color: var(--theme-background);
  display: grid;
  grid-template-columns: 2fr 0.5fr 0.5fr 0.5fr;
  align-content: center;
  justify-items: center;
  opacity: 0.95;
  font-family: Copperplate;
}

#filters {
  background-color: var(--content-background);
  opacity: 0.95;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#beerBrowse {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding-bottom: 10px;
  overflow-y: scroll;
  width: 100vw;
  scroll-behavior: smooth;
}

#titleSection {
  display: flex;
  width: 100%;
  margin-right: auto;
}

#pageButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0.95;
  background-color: var(--theme-background);
}

.beerContent {
  height: 300px;
  width: 350px;
  margin: 15px 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "name name ibu abv"
    "tagLine tagLine tagLine tagLine"
    "learnMore learnMore learnMore learnMore";
  color: var(--content-text);
  font-size: 0.9em;
  opacity: 0.9;
  font-weight: bold;
}

button {
  padding: 0;
  border: 0;
  font-weight: bolder;
}

.name {
  grid-area: name;
  background-color: var(--content-background);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 0 0 0;
}

.ibu {
  grid-area: ibu;
  background-color: var(--content-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.abv {
  grid-area: abv;
  background-color: var(--content-background);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 15px 0 0;
}

.tagLine {
  grid-area: tagLine;
  background-color: var(--content-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite {
  grid-area: favorite;
  background-color: var(--content-background);
  color: var(--button);
  transition: all 0.35s ease-in-out;
  border-radius: 0 0 0 15px;
}

.favorite:hover {
  background-color: rgb(201, 201, 201);
  transition: all 0.35s ease-in-out;
  cursor: url(https://cur.cursors-4u.net/food/foo-2/foo108.cur), auto !important;
}

.learnMore {
  grid-area: learnMore;
  background-color: var(--content-background);
  color: var(--button);
  transition: all 0.35s ease-in-out;
  border-radius: 0 0 15px 15px;
}

.learnMore:hover {
  background-color: var(--learn-more-hover);
  transition: all 0.35s ease-in-out;
  cursor: url(https://cur.cursors-4u.net/food/foo-2/foo108.cur), auto !important;
}

#title {
  color: var(--title-text);
  font-size: 1.75vw;
  white-space: nowrap;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: Georgia;
}

#FIS {
  width: 80px;
  height: auto;
}

#browse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all 0.35s ease-in-out;
  font-size: 1.5rem;
  color: var(--title-text);
}

#browse:hover {
  background-color: lightgray;
  cursor: url(https://cur.cursors-4u.net/food/foo-2/foo108.cur), auto !important;
  transition: all 0.35s ease-in-out;
  border-radius: 15px;
}

#settings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all 0.35s ease-in-out;
  font-size: 1.5rem;
  color: var(--title-text);
}

#settings:hover {
  background-color: lightgray;
  cursor: url(https://cur.cursors-4u.net/food/foo-2/foo108.cur), auto !important;
  transition: all 0.35s ease-in-out;
  border-radius: 15px;
}

#favorites {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all 0.35s ease-in-out;
  font-size: 1.5rem;
  color: var(--title-text);
}

#favorites:hover {
  background-color: lightgray;
  cursor: url(https://cur.cursors-4u.net/food/foo-2/foo108.cur), auto !important;
  transition: all 0.35s ease-in-out;
  border-radius: 15px;
}

#learnMore {
  display: none;
  flex-direction: column;
  width: 94%;
  margin-top: 15px;
}

#learnMoreName {
  grid-area: name;
  background-color: var(--content-background);
  color: var(--content-text);
  opacity: 0.9;
  display: flex;
  justify-content: center;
}

#learnMoreIbu {
  grid-area: learnMoreIbu;
  background-color: var(--content-background);
  color: var(--content-text);
  opacity: 0.9;
  display: flex;
  justify-content: center;
}

#learnMoreAbv {
  grid-area: learnMoreAbv;
  background-color: var(--content-background);
  color: var(--content-text);
  opacity: 0.9;
  display: flex;
  justify-content: center;
}

#learnMoreImage {
  grid-area: image;
  background-color: var(--content-background);
  opacity: 0.9;
  display: flex;
  justify-content: center;
}

#learnMoreDescription {
  grid-area: learnMoreDescription;
  background-color: var(--content-background);
  color: var(--content-text);
  opacity: 0.9;
  justify-content: center;
  display: flex;
}

#learnMoreFoodPairings {
  grid-area: foodpairing;
  background-color: var(--content-background);
  color: var(--content-text);
  opacity: 0.9;
  display: flex;
  justify-content: center;
}

#learnMoreFirstBrewed {
  grid-area: firstbrewed;
  background-color: var(--content-background);
  color: var(--content-text);
  opacity: 0.9;
  display: flex;
  justify-content: center;
}

#learnMoreFavorites {
  grid-area: favorites;
  background-color: var(--content-background);
  opacity: 0.9;
  display: flex;
  justify-content: center;
}

#backButton {
  display: none;
  color: var(--button);
}

#previousButton {
  background-color: lightgray;
  width: 80px;
}

#previousButton:hover {
  cursor: url(https://cur.cursors-4u.net/food/foo-2/foo108.cur), auto !important;
  border-radius: 15px;
}

#nextButton {
  background-color: lightgray;
  width: 80px;
  cursor: url(https://cur.cursors-4u.net/food/foo-2/foo108.cur), auto !important;
}

#nextButton:hover {
  cursor: url(https://cur.cursors-4u.net/food/foo-2/foo108.cur), auto !important;
  border-radius: 15px;
}

#pageIndex {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  width: 80px;
  font-weight: bold;
}

#topButton {
  display: none;
  position: absolute;
  right: 40px;
  bottom: 30px;
  z-index: 100;
  width: 100px;
  color: var(--button);
  border: 2px solid black;
}

#backButton:hover {
  cursor: url(https://cur.cursors-4u.net/food/foo-2/foo108.cur), auto !important;
}

#image {
  height: 100px;
  width: auto;
  margin-top: 10px;
}

#addToFavorites {
  width: 50%;
  color: var(--button);
  margin-left: auto;
  margin-right: auto;
}

#search-bar {
  cursor: url(https://cur.cursors-4u.net/food/foo-2/foo108.cur), auto !important;
  background-color: lightgray;
  width: 195px;
}

#search-bar:hover {
  cursor: url(https://cur.cursors-4u.net/food/foo-2/foo108.cur), auto !important;
  border-radius: 15px;
}

#getRandomBeer {
  background-color: lightgray;
  width: 150px;
  cursor: url(https://cur.cursors-4u.net/food/foo-2/foo108.cur), auto !important;
  transition: all 0.35s ease-in-out;
}
#getRandomBeer:hover {
  cursor: url(https://cur.cursors-4u.net/food/foo-2/foo108.cur), auto !important;
  border-radius: 15px;
}

#searchIbu-bar {
  cursor: url(https://cur.cursors-4u.net/food/foo-2/foo108.cur), auto !important;
  background-color: lightgray;
  width: 195px;
}

#searchIbu-bar:hover {
  cursor: url(https://cur.cursors-4u.net/food/foo-2/foo108.cur), auto !important;
  border-radius: 15px;
}

#searchName-bar {
  cursor: url(https://cur.cursors-4u.net/food/foo-2/foo108.cur), auto !important;
  background-color: lightgray;
  width: 195px;
}

#searchName-bar:hover {
  cursor: url(https://cur.cursors-4u.net/food/foo-2/foo108.cur), auto !important;
  border-radius: 15px;
}

#addToFavorites {
  width: 100%;
  background-color: var(--content-background);
  display: flex;
  justify-content: center;
  opacity: 0.95;
}

#favoritesTab {
  display: none;
  background-color: var(--content-background);
  width: 94%;
  margin-top: 15px;
  opacity: 0.95;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--content-text)
}

li {
  list-style-type: none;
  color: var(--content-text);
}

#favoritesList {
  padding: 0;
}

#settingsTab {
  display: none;
  width: 94%;
  margin-top: 15px;
  background-color: var(--content-background);
  opacity: 0.95;
  grid-template-columns: repeat(1fr, 2);
  grid-template-rows: 0.5fr 0.5fr 1fr;
  grid-template-areas:
    "settingTitle settingTitle settingTitle settingTitle"
    "colorSetting colorSetting lightDarkMode lightDarkMode"
    "colorSetting colorSetting lightDarkMode lightDarkMode";
    color: var(--content-text)
}

#settingsTitle {
  grid-area: settingTitle;
  display: flex;
  justify-content: center;

}

#colorSetting {
  grid-area: colorSetting;
  display: grid;
  grid-template-rows: 0.2fr 1fr;
}

#lightDarkMode {
  grid-area: lightDarkMode;
  display: grid;
  grid-template-rows: 0.2fr 1fr;
}

h4 {
  display: flex;
  justify-content: center;
  font-size: 1.4em;
}

#colorWheel {
  display: flex;
  justify-content: center;
}

#lightDarkButton {
  display: flex;
  justify-content: center;
}

#favcolor {
  width: 35%;
  height: 100px;
}
input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}
label {
  cursor: pointer;
  text-indent: -9999px;
  width: 200px;
  height: 100px;
  background: #d2d2d2;
  display: block;
  border-radius: 100px;
  position: relative;
}
label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}
input:checked + label {
  background: rgb(35, 35, 35);
}
input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
label:active:after {
  width: 130px;
}

li:hover {
  color: var(--button);
  cursor: pointer;
}

li {
  font-family: Rockwell;
  font-size: 1.4em;
}

#colorSetting {
  font-size: 1.4em;
  font-family: Rockwell;
}

#lightDarkMode {
  font-size: 1.4rem;
  font-family: Rockwell;
}
